<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!--/** 与 layout/admin/body 的区别是添加了 style="left: 0px;" 样式 **/-->
<div th:fragment="body" class="layui-body" style="left: 0px;">
	<!-- 内容主体区域 -->
	<div style="padding: 15px;">
		<table id="logPathDataTable" lay-filter="logPathDataTable-filter"></table>

		<script id="toolbarTpl" type="text/html">
			<div class="layui-btn-group">
				<button type="button" class="layui-btn layui-btn-primary layui-btn-sm" style="border-style: none;" lay-event="preview" title="Preview">
					<i class="layui-icon layui-icon-list" style="color: #1E9FFF; font-weight: bold;"></i>
				</button>
				<button type="button" class="layui-btn layui-btn-primary layui-btn-sm" style="border-style: none;" lay-event="edit" title="Edit">
					<i class="layui-icon layui-icon-edit" style="color: #1E9FFF;"></i>
				</button>
				<button type="button" class="layui-btn layui-btn-primary layui-btn-sm" style="border-style: none;" lay-event="delete" title="Delete">
					<i class="layui-icon layui-icon-delete" style="color: #FF5722;"></i>
				</button>
			</div>
		</script>
	</div>

	<!--/** thymeleaf 中一定要使用 th:inline="javascript"，否则 [[${logPath}]] 从后端中取得的值是一个字符串，而不是一个 json 对象 **/-->
	<script th:inline="javascript">
		layui.use(['layer','table'], function(){
			let layer = layui.layer;
			let table = layui.table;
			table.render({
				elem: '#logPathDataTable',
				url: '/log-path/list',
				parseData: function(res){
					return {
						"code": 0, //解析接口状态
						"msg": '', //解析提示文本
						"count": res.total, //解析数据长度
						"data": res.records   //解析数据列表
					};
				},
				page: true,
				cols: [
					[
						{field: 'id', title: 'ID', fixed: 'left', width: 200, hide: true},
						{field: 'application', title: 'Application', width: 240},
						{field: 'path', title: 'Log Location'},
						{field: 'createTime', title: 'Create Time', width: 200, sort: false, templet : "<div>{{layui.util.toDateString(d.createTime, 'yyyy-MM-dd HH:mm:ss')}}</div>"},
						{field: 'updateTime', title: 'Update Time', width: 200, sort: true, templet : "<div>{{layui.util.toDateString(d.updateTime, 'yyyy-MM-dd HH:mm:ss')}}</div>"},
						//下面这里的toolbar值是模板元素的选择器
						{fixed: 'right', title: 'Operations', align:'center', width: 180, toolbar: '#toolbarTpl'}
					]
				]
			});

			//监听工具条
			table.on('tool(logPathDataTable-filter)', function(obj){
				let row = obj.data;
				switch (obj.event) {
					case 'preview':
						window.open("/log-path/preview/" + row.id);
						break;
					case 'edit':
						layer.msg("Edit")
						//mwj.loadPage("#content", "/sys/user/edit/" + row.id, null);
						break;
					case 'delete':
						layer.msg("Delete")
		<!--				layer.confirm("确认重置用户【" + row.nick + "】的密码吗？", function(index){-->
		<!--					$.post("/sys/user/resetPassword/" + row.id, null, function (result) {-->
		<!--						layer.close(index);-->
		<!--						mwj.msg(result);-->
		<!--					});-->
		<!--				});-->
						break;
					default:
						break;
				}
			});
		});
	</script>
</div>

</html>